<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Titre</title>
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="/js/functions.js"></script>
</head>
<body>
    <div class="title">
        <h1>JEE : Summoners Wars Website</h1>
    </div>

    <div class="menu">
        <div class="left-side">
            <a class="button menu-button"><button onclick="showRightSide()"><ion-icon name="menu-outline"></ion-icon></button></a>
            <a class="button home-button a_page" href="/"><button><ion-icon name="home-outline"></ion-icon></button></a>
            <a class="button rune-button" href="/bestiary"><button><img src="/images/transcendance.png"></button></a>
            <a class="button monster-button" href="/monsters"><button><img src="/images/monster.png"></button></a>
            <a class="button rune-button" href="/runes"><button><img src="/images/rune.png"></button></a>
            <a class="button artifact-button" href="/artifacts"><button><img src="/images/artefact.png"></button></a>
            <a class="button gvo-team-button" href="/gvoteam"><button><img src="/images/battle.png"></button></a>
            <a class="button upload-button" href="/uploadJSON"><button><ion-icon name="cloud-upload-outline"></ion-icon></button></a>
            <div class="bottom-left">
                <a class="button log-out-button" href="/logout"><button><ion-icon name="log-out-outline"></ion-icon></button></a>
            </div>
        </div>
        <div class="right-side">
            <a class="button menu-button"><button><p>Menu</p></button></a>
            <a class="button home-button a_page" href="/"><button><p>Accueil</p></button></a>
            <a class="button rune-button" href="/bestiary"><button><p>Bestiaire</p></button></a>
            <a class="button monster-button" href="/monsters"><button><p>Monstres</p></button></a>
            <a class="button rune-button" href="/runes"><button><p>Runes</p></button></a>
            <a class="button artifact-button" href="/artifacts"><button><p>Artefacts</p></button></a>
            <a class="button gvo-team-button" href="/gvoteam"><button><p>Team Builder</p></button></a>
            <a class="button upload-button" href="/uploadJSON"><button><p>Upload</p></button></a>
            <div class="bottom-right">
                <a class="button log-out-button" href="/logout"><button><p>Déconnexion</p></button></a>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="accueil-grid">
            <div class="welcome">
                <p class="accueil-lien">Welcome !</p>
                <img class="accueil-image" src="/images/veromos.gif">

            </div>
            <div class="accueil-login">
                <a href="/login">
                    <p class="accueil-lien">Login</p>
                    <div><img class="accueil-image" src="/images/mav.gif"></div>
                </a>
            </div>
            <div class="accueil-register">
                <a href="/register">
                    <p class="accueil-lien">Register</p>
                    <div><img class="accueil-image" src="/images/artamiel.gif"></div>

                </a>
            </div>
            <div class="accueil-bestiary">
                <a href="/bestiary">
                    <p class="accueil-lien">Bestiary</p>
                    <div><img class="accueil-image" src="/images/panda.gif"></div>
                </a>
            </div>
        </div>

    </div>


    <footer>
        <div>
            <p>DURANTEAU Damien - LANTA Axel - OUTREBON Edouard</p>
            <p>CY Tech 2022</p>
        </div>
    </footer>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>