<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JEE</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Summoners Wars JEE Website</h1>
<!--<table border="1">-->
<!--    <tr>-->
<!--        <th>First Name</th>-->
<!--        <th>Last Name</th>-->
<!--    </tr>-->
<!--    <tr th:each ="person : ${extract}">-->
<!--        <td th:utext="${extract}">...</td>-->
<!--    </tr>-->
<!--</table>-->

<footer>Le sel vient d'ici</footer>
</body>
</html>