<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>Titre</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <!--  <div class="sub-title">-->
  <!--    <h1>Login</h1>-->
  <!--  </div>-->

  <div class="login-content">
    <div class="login-infos">
      <form th:object="${user}"
            th:action="@{/register}"
            method="post">
        <div>
          <label for="username">Username</label>
          <input id="username" type="text" th:field="*{username}">
          <p th:if="${#fields.hasErrors('username')}"
             th:text="${#strings.listJoin(#fields.errors('username'), ', ')}"></p>
        </div>
        <div>
          <label for="password">Password</label>
          <input id="password" type="password" th:field="*{password}">
          <p th:if="${#fields.hasErrors('password')}"
             th:text="${#strings.listJoin(#fields.errors('password'), ', ')}"></p>
        </div>

        <div>
          <label for="confirmPassword">Confirm Password</label>
          <input id="confirmPassword" type="password" th:field="*{confirmPassword}">
          <p th:if="${#fields.hasErrors('confirmPassword')}"
             th:text="${#strings.listJoin(#fields.errors('confirmPassword'), ', ')}"></p>
        </div>
        <input type="submit" value="Register">
      </form>
    </div>
  </div>

  <footer>
    <div>
      <p>DURANTEAU Damien - LANTA Axel - OUTREBON Edouard</p>
      <p>CY Tech 2022</p>
    </div>
  </footer>

</body>
</html>