:root {
    --footer-height: 50px;
    --left-side-menu-width: 50px;
    --right-side-menu-width: 150px;
}

h1, p, input, button {
    all:initial;
}

body {
    background-color: #20252b;
    position: relative;
    color: white;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.title {
    margin-left: var(--left-side-menu-width);
    max-width: 100%;
    height: 50px;
    display: flex;
}

.title h1 {
    color: white;
    font-size: 25px;
    margin: auto 15px;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
}

.left-side {
    width: var(--left-side-menu-width);
    display: flex;
    flex-direction: column;
    background-color: #13181e;
}

.left-side a {
    text-decoration: none;
}

.left-side a button {
    width: var(--left-side-menu-width);
    height: var(--left-side-menu-width);
    display: flex;
}

.left-side a button ion-icon {
    color: #FFFFFF;
    width: 30px;
    height: 30px;
    margin: auto;
}

.left-side a button img {
    width: 30px;
    height: 30px;
    margin: auto;
}

.left-side a button p {
    color: #FFFFFF;
    font-size: 20px;
    margin: auto;
}

.right-side {
    width: var(--right-side-menu-width);
    display: none;
    flex-direction: column;
    background-color: #13181e;
}

.right-side a {
    text-decoration: none;
}

.right-side a button {
    width: var(--right-side-menu-width);
    height: var(--left-side-menu-width);
    display: flex;
}

.right-side a button p {
    color: #FFFFFF;
    font-size: 20px;
    margin: auto auto auto 10px;
}

.button .menu-button:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

.a_page {
    background-color: #d3af65;
}

.content {
    margin-left: var(--left-side-menu-width);
    display: flex;
    flex-direction: column;
}

.search-bar {
    margin-top: 50px;
    margin-left: 10%;
}

.search-bar input {
    border: 1px solid #d3af65;
    background-color: rgba(255, 255, 255, 0.25);
    width: 300px;
    height: 25px;
    color: #FFFFFF;
}

.monster-grid {
    margin: 25px auto calc(var(--footer-height) + 50px) auto;
    display: grid;
    min-width: 80%;
    grid-template-columns: repeat(auto-fill, 100px);
    grid-auto-rows: 100px;
    grid-gap: 10px;
}

.monster-infos {
    margin: 0px auto;
    display: flex;
    flex-direction: column;
}

.monster-name {
    margin: 0px auto;
    color: #FFFFFF;
    font-size: 30px;
}

.monster-infos img {
    margin: 0px auto;
    width: 150px;
    height: 150px;
}

.monster-type {
    margin: 0px auto;
    color: #FFFFFF;
}

.content table {
    margin: 50px auto calc(var(--footer-height) + 50px) auto;
    width: 80%;
    border-radius: 1px;
    background-color: #13181e;
}

.content table thead tr th {
    border: 1px solid #d3af65;
}

.content table tr td    {
    border: 1px solid #d3af65;
    text-align: center;
}

.content table tr td p {
    color: #FFFFFF;
}

.kek {
    display: none;
}

.kek img{
    width: 150px;
    height: 150px;
    margin: 50px auto 0px auto;
}

.upload-form {
    margin: 50px auto;
}

.upload-form form {
    display: flex;
    flex-direction: column;
}

.upload-form form input[type="submit"]{
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 5px;
    background-color: #13181e;
    width: 75px;
    height: 25px;
    color: #FFFFFF;
    text-align: center;
    margin: 0px auto;
}

.upload-form form input[type="file"] {
    margin: 0px auto 25px auto;
    color: #FFFFFF;
}
.sub-title {
    max-width: 100%;
    height: 50px;
    display: flex;
}

.sub-title h1 {
    margin: 0px auto;
    color: white;
    font-size: 25px;
}

.login-content {
    display: flex;
    flex-direction: column;
}

.login-infos {
    margin: 150px auto 0px auto;
}

.login-infos form div label {
    display: flex;
    flex-direction: column;
}

.login-infos form input[type="text"], .login-infos form input[type="password"]{
    border: 1px solid #d3af65;
    background-color: rgba(255, 255, 255, 0.25);
    height: 25px;
    color: #FFFFFF;
}

.login-infos form input[type="text"] {
    margin: 5px auto 25px auto;
}


.login-infos form input[type="password"] {
    margin: 5px auto 50px auto;
}

.login-infos form input[type="submit"]{
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 5px;
    background-color: #13181e;
    width: 75px;
    height: 25px;
    color: #FFFFFF;
    text-align: center;
    margin: 0px auto;
}

footer {
    background-color: #13181e;
    width: 100%;
    height: var(--footer-height);
    margin-top: auto;
    position: absolute;
    top: calc(100% - var(--footer-height));
    display: flex;
}

footer div {
    display: flex;
    flex-direction: column;
    margin: auto;
}

footer p {
    color: white;
    margin: 0px auto;
}