:root {
    --footer-height: 50px;
    --left-side-menu-width: 50px;
    --right-side-menu-width: 150px;
}

h1, p, input, button {
    all:initial;
}

body {
    background-color: #20252b;
    position: relative;
    color: white;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.title {
    margin-left: var(--left-side-menu-width);
    max-width: 100%;
    height: 50px;
    display: flex;
}

.title h1 {
    color: white;
    font-size: 25px;
    margin: auto 15px;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
}

.left-side {
    width: var(--left-side-menu-width);
    display: flex;
    flex-direction: column;
    background-color: #13181e;
}

.left-side a {
    text-decoration: none;
}

.left-side a button {
    width: var(--left-side-menu-width);
    height: var(--left-side-menu-width);
    display: flex;
}

.left-side a button ion-icon {
    color: #FFFFFF;
    width: 30px;
    height: 30px;
    margin: auto;
}

.left-side a button img {
    width: 30px;
    height: 30px;
    margin: auto;
}

.left-side a button p {
    color: #FFFFFF;
    font-size: 20px;
    margin: auto;
}

.right-side {
    width: var(--right-side-menu-width);
    display: none;
    flex-direction: column;
    background-color: #13181e;
}

.right-side a {
    text-decoration: none;
}

.right-side a button {
    width: var(--right-side-menu-width);
    height: var(--left-side-menu-width);
    display: flex;
}

.right-side a button p {
    color: #FFFFFF;
    font-size: 20px;
    margin: auto auto auto 10px;
}

.button .menu-button:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

.a_page {
    background-color: #d3af65;
}

.content {
    margin-left: var(--left-side-menu-width);
    margin-bottom: calc(var(--footer-height) + 50px);
    display: flex;
    flex-direction: column;
}

.search-bar {
    margin-top: 50px;
    margin-left: 10%;
}

.search-bar input {
    border: 1px solid #d3af65;
    background-color: rgba(255, 255, 255, 0.25);
    width: 300px;
    height: 25px;
    color: #FFFFFF;
}

.monster-grid {
    margin: 25px auto calc(var(--footer-height) + 50px) auto;
    display: grid;
    min-width: 80%;
    grid-template-columns: repeat(auto-fill, 100px);
    grid-auto-rows: 100px;
    grid-gap: 10px;
}

.monster-infos {
    margin: 50px auto;
    display: flex;
}

.monster-infos-side-left{
    display: flex;
    flex-direction: column;
    margin: auto 25px;
}

.monster-infos-side-right{
    display: flex;
    margin: auto 25px;
}

.monster {
    display: flex;
    flex-direction: column;
}

.monster-image {
    margin: 0px auto;
}

.monster-image img {
    width: 150px;
    height: 150px;
}

.monster-sub-infos {
    margin: 25px auto;
    display: flex;
}

#monster-type {
    display: none;
}

.monster-type-image {
    margin: 0px auto;
    width: 50px;
    height: 50px;
    display: flex;
}

.monster-type-image img {
    margin: auto 0px;
    width: 40px;
    height: 40px;
}

.monster-name {
    color: #FFFFFF;
    font-size: 40px;
    margin: auto;
}

.monster-stars-images {
    padding-left: 10px;
    margin: 0px auto;
    height: 50px;
    display: flex;
}

.monster-stars-images img {
    margin: auto 0px;
    width: 30px;
    height: 30px;
}

#monster-stars {
    display: none;
}

#awakening_level {
    display: none;
}

.monster-stats {
    margin: 25px auto;
    display: flex;
}

.monster-stats table {
    margin: 0px auto;
    width: 250px;
}

.monster-stats table tr .left {
    text-align: left;
}

.monster-stats table tr .right {
    text-align: right;
}

.monster-stats table tr td {
    font-size: 20px;
}

.monster-stats table tr td p {
    font-size: 20px;
    color: white;
}

.monster-skills-infos {
    display: flex;
}

.monster-skills {
    margin: auto 25px;
    display: flex;
    flex-direction: column;
}

.monster-skills button {
    margin: 15px;
}

.monster-skills button img {
    width: 75px;
    height: 75px;
}

.skill-infos {
    margin: auto 25px;
    display: flex;
    flex-direction: column;
}

.skill-infos div {
    display: flex;
    flex-direction: column;
}

.skill-description {
    margin: 0px auto;
    width: 450px;
}

.skill-infos div h1 {
    margin: 0px auto;
    font-size: 30px;
    color: white;
}

.skill-infos div table {
    margin: 10px auto;
    table-layout: auto;
    width: 100%;
}

.skill-infos div table tr td {
    text-align: center;
    font-size: 20px;
}

.skill-infos div p {
    margin: 0px auto;
    font-size: 20px;
    color: white;
    text-align: justify;
}

.skill-selected {
    border: 3px solid rgba(255, 255, 255, 0.75);
}

.skill-not-selected{
    border: 3px solid #20252b;
}

#skill-2-description,
#skill-3-description,
#skill-4-description,
#leader-skill-description {
    display: none;
}

.kek {
    display: none;
}

.kek img{
    width: 150px;
    height: 150px;
    margin: 50px auto 0px auto;
}

.upload-form {
    margin: 50px auto;
}

.upload-form form {
    display: flex;
    flex-direction: column;
}

.upload-form form input[type="submit"]{
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 5px;
    background-color: #13181e;
    width: 75px;
    height: 25px;
    color: #FFFFFF;
    text-align: center;
    margin: 0px auto;
}

.upload-form form input[type="file"] {
    margin: 0px auto 25px auto;
    color: #FFFFFF;
}
.sub-title {
    max-width: 100%;
    height: 50px;
    display: flex;
}

.sub-title h1 {
    margin: 0px auto;
    color: white;
    font-size: 25px;
}

.login-content {
    display: flex;
    flex-direction: column;
}

.login-infos {
    margin: 150px auto 0px auto;
}

.login-infos form div label {
    display: flex;
    flex-direction: column;
}

.login-infos form input[type="text"], .login-infos form input[type="password"]{
    border: 1px solid #d3af65;
    background-color: rgba(255, 255, 255, 0.25);
    height: 25px;
    color: #FFFFFF;
}

.login-infos form input[type="text"] {
    margin: 5px auto 25px auto;
}


.login-infos form input[type="password"] {
    margin: 5px auto 50px auto;
}

.login-infos form input[type="submit"]{
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 5px;
    background-color: #13181e;
    width: 75px;
    height: 25px;
    color: #FFFFFF;
    text-align: center;
    margin: 0px auto;
}

footer {
    background-color: #13181e;
    width: 100%;
    height: var(--footer-height);
    margin-top: auto;
    position: absolute;
    top: calc(100% - var(--footer-height));
    display: flex;
}

footer div {
    display: flex;
    flex-direction: column;
    margin: auto;
}

footer p {
    color: white;
    margin: 0px auto;
}